*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.images{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.images img{
    width: 200px;
    height: 250pxs;
    margin: 10px;
}


#raw1 th{
    border: 1px solid black;
    padding: 10px;
}

.dataraw td{
    border: 1px solid black;
    padding: 10px;
}


.dataraw td button{
    padding: 5px;
}


#img{
    display: block;
    margin: auto;
    width: 500px;
}


.counter{
    text-align: center;
}

#counter{
    padding: 15px 0px 15px 0px;
    font-size: 4rem;
}

.counter button{
    padding:15px ;
}


.form{
    /* text-align: center; */
    padding-left: 40px;
}

.form h1{
    padding: 20px 0px 20px 0px;
}

.form p{
    margin: 10px;
    text-align: left;
}

.form p input{
    width: 200px;
    margin-left: 10px;
}


.raw td{
    margin: 20px;
}

table{
    margin-top: 20px;
}